# Data folder
*/trajectories/
data/*
trajectories.zip

*.json
*.pyc
*.meta
*.idea
*.aux
*.log
*.html
*.gz
*.index
events.out.*
*.data*
*.mat
*.npz
*.npy
*.cpython*
checkpoint
.vscode
train/
test/
__pycache__